.customDiv {
  margin-top: 100px;
}
.iconLogin {
  color: white;
}
label {
  color: white;
}
.white {
  color: white;
}
::placeholder {
  color: #808080;
  font-style: italic;
}
button:disabled,
button[disabled] {
  color: #d82231;
}

h3 {
  color: white;
}
