<div class="container customDiv" class="bg-dark">
  <div class="row justify-content-center">
    <div class="col-6 align-self-center text-center">
      <h3>Editar usuario</h3>
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <div class="row">
          <i class="fas fa-pen-alt fa-2x iconLogin mt-2 mb-2"></i>

          <div class="col-6">
            <nz-form-item>
              <nz-form-control
                nzErrorTip="
            ¡Ingrese su nombre completo!"
              >
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="Nombre completo"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-6">
            <nz-form-item>
              <nz-form-control
                nzErrorTip="
              ¡Ingrese sus apellidos!"
              >
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="lastname"
                    placeholder="Apellidos"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-form-item>
          <nz-form-control
            nzErrorTip="
          ¡Ingrese su número de télefono de manera correcta!"
          >
            <nz-input-group>
              <i class="fas fa-phone-alt fa-2x iconLogin"></i>
              <input
                type="text"
                nz-input
                formControlName="cellphonenumber"
                placeholder="Número de télefono"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            nzErrorTip="
            ¡Ingrese su correo electrónico validó!"
          >
            <nz-input-group>
              <i class="fas fa-user fa-2x iconLogin"></i>
              <input
                type="text"
                nz-input
                formControlName="correo"
                placeholder="Nombre de usuario"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="registerUser === true">
          <nz-form-control
            nzErrorTip="
            Introduzca su contraseña."
          >
            <nz-input-group>
              <i class="fas fa-lock fa-2x iconLogin"></i>
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Contraseña"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="text-white"></div>
        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
          [disabled]="!validateForm.valid"
        >
          Regístrate
        </button>
      </form>
    </div>
  </div>
</div>
