<div class="container text-dark">
  <div class="mt-3">
    <h4 class="text-dark">Panel principal</h4>
    <button nz-button nzType="primary" class="mb-2" (click)="registerUser()">
      Registrar usuario
    </button>

    <div class="table-operations"></div>
    <nz-table
      #filterTable
      [nzData]="users"
      nzTableLayout="fixed"
      [nzBordered]="true"
      [nzLoading]="loading"
      [nzTitle]="'Lista de pacientes'"
      [nzNoResult]="'Sin pacientes registrados'"
      [nzSimple]="true"
      [nzPageSize]="5"
      [nzScroll]="{ y: '240px' }"
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of listOfColumns"
            [(nzSortOrder)]="column.sortOrder"
            [nzSortFn]="column.sortFn"
          >
            {{ column.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.lastname }}</td>
          <td>{{ data.correo }}</td>
          <td>{{ data.cellphonenumber }}</td>
          <td>
            <a (click)="scheduleAppoinment(data)">
              <i class="fas fa-calendar"> </i>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="editUser(data)"> <i class="fas fa-edit"> </i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="deleteUser(data)"> <i class="fas fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalContent>
    <app-edit-user
      [editUser]="editUserModal"
      [registerUser]="registerUserModal"
      (logInEvent)="logInEventHander($event)"
      (signUpEvent)="signUpEventHander($event)"
    ></app-edit-user>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">
      Cerrar modal
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleTop"
  nzTitle="Agendar cita"
  [nzFooter]="modalFooterTop"
>
  <ng-container *nzModalContent>
    <app-appointment-form
      [userAppointment]="userAppointment"
    ></app-appointment-form>
  </ng-container>

  <ng-template #modalFooterTop>
    <button nz-button nzType="default" (click)="handleCancelTop()">
      Cerrar modal
    </button>
  </ng-template>
</nz-modal>
