.darkgreen {
  background-color: #009d44;
}

#principalDiv {
  border: 2px solid #009d44;
  border-radius: 8px;
}

.greenBox {
  width: 100%;
  background-color: #428071;
  color: white;
  font-style: normal;
}

.customList {
  color: #cc6431;
}

.btn-orange {
  background-color: #ca5d2c;
  color: white;
}

.btn {
  border-radius: 12px !important;
}
