<app-menu></app-menu>
<div class="container text-dark">
  <div class="mt-3" *ngIf="usuario">
    <h4><i class="far fa-user"></i> Hola, {{ usuario.name }}</h4>
    <div class="container">
      <nz-alert
        nzType="info"
        nzMessage="A continuación se muestra tu lista de citas!"
        nzShowIcon
      ></nz-alert>
      <h3 [ngStyle]="{ margin: '16px 0' }"></h3>
      <nz-list nzBordered nzSize="small">
        <nz-list-item *ngFor="let appointment of appointments">
          <span class="span"
            >Cita programada para:
            <a class="text-dark">{{
              appointment.startDate | date: "MM/d/yy, h:mm a"
            }}</a></span
          >

          {{ appointment.description }}
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>
