<app-menu></app-menu>
<div class="container text-dark" *ngIf="!loading">
  <div class="mt-3" *ngIf="usuario">
    <h4><i class="far fa-user"></i> Hola, {{ usuario.name }}</h4>
    <div class="container">
      <nz-alert
        nzType="info"
        nzMessage="A continuación se muestra tu lista de citas!"
        nzShowIcon
      ></nz-alert>
      <button class="btn btn-secondary" (click)="openModal()">
        Agendar cita
      </button>
      <h3 [ngStyle]="{ margin: '16px 0' }"></h3>
      <nz-table #basicTable [nzData]="appointments">
        <thead>
          <tr>
            <th>Motivo</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.description }}</td>
            <td>{{ data.startDate | date: "MMMM d, y, h:mm a" }}</td>
            <td>{{ data.endDate | date: "MMMM d, y, h:mm a" }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<app-customloading *ngIf="loading"></app-customloading>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleTop"
  nzTitle="Agendar cita"
  [nzFooter]="modalFooterTop"
>
  <ng-container *nzModalContent>
    <app-appointment-form
      [userAppointment]="usuario"
      (savedAppointmentEvent)="savedAppointmentHander($event)"
    ></app-appointment-form>
  </ng-container>

  <ng-template #modalFooterTop>
    <button nz-button nzType="default" (click)="handleCancelTop()">
      Cerrar modal
    </button>
  </ng-template>
</nz-modal>
