.customDiv {
  margin-top: 100px;
}
.iconLogin {
  color: white;
}
label {
  color: white;
}
.white {
  color: white;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1; /* Firefox */
}

button:disabled,
button[disabled] {
  color: black;
}

h3 {
  color: white;
}
