<div class="container" *ngIf="!loading">
  <h4>
    <i class="fas fa-calendar-check"></i> Cita para
    <span style="font-style: italic">{{ userAppointment.name }}</span>
  </h4>
  <h5 class="fw-bold text-secondary fs-6">
    Las citas deben tener un lapso de tiempo de media hora y los minutos deben
    ser como en el ejemplo: 00 o 30.
  </h5>

  <br />
  <nz-range-picker
    [nzShowTime]="{ nzFormat: 'HH:mm' }"
    nzFormat="yyyy-MM-dd HH:mm"
    [(ngModel)]="dates"
    (ngModelChange)="onChange($event)"
    (nzOnCalendarChange)="onCalendarChange($event)"
    (nzOnOk)="onOk($event)"
  ></nz-range-picker>
  <br />
  <div class="row">
    <span style="color: red">*Campo requerido</span>
    <nz-mention>
      <textarea
        nz-input
        [nzAutosize]="{ minRows: 4, maxRows: 4 }"
        [(ngModel)]="inputValue"
        placeholder="Detalles de la cita"
        nzMentionTrigger
      >
      </textarea>
    </nz-mention>
  </div>

  <button
    nz-button
    nzType="primary"
    *ngIf="
      startValue !== null &&
      endValue !== null &&
      inputValue &&
      inputValue.length > 0
    "
    (click)="saveAppointment()"
  >
    Guardar cita
  </button>
</div>
<app-customloading *ngIf="loading"></app-customloading>
